In [225]:
import os
import pandas as pd

In [226]:
path = "C:/Users/User/OneDrive - University of Glasgow/University Year 4/Individual Project/2464980P-L4-Project/src/userStudies"

In [227]:
os.chdir(path)

In [228]:
attempts=[]

for file in os.listdir():
    file_path = f"{path}\{file}"
    print(file)
    with open(file_path, 'r') as f:
        attempts.append(f.read().split("\n"))

baseline1
baseline2
noabstracts1
noabstracts2
nohighlighting1
nohighlighting2
noplots1
noplots2
nosearch1
nosearch2

In [229]:
correct_answers=[12,8,14,17,29,15,8,5,9,3,2,4]

In [230]:
pandas_list=[]

for i in range(len(attempts)):
    answer_list=[]
    time_list=[]
    click_list=[]
    
    attempts[i]=[row.split(" ")[1:] for row in attempts[i] if "UserStudy" not in row and "START" not in row][:-1]
    for j in range(len(attempts[i])):
        attempts[i][j][0]=attempts[i][j][0].split(":")
        if j==0:
            start=(int(attempts[i][j][0][0])*60*60)+(int(attempts[i][j][0][1])*60)+int(attempts[i][j][0][2])
        attempts[i][j][0]=(int(attempts[i][j][0][0])*60*60)+(int(attempts[i][j][0][1])*60)+int(attempts[i][j][0][2])-start
        
    clicks=1
    time=0
    answer=0
    for click in attempts[i]:
        if "Q" in click[1]:
            answer_list.append(int(click[1].split(":")[1]))
            time_list.append(int(click[0]-time))
            click_list.append(int(clicks))
            clicks=0
        clicks+=1
        time=click[0]
    
    attempt_pd=pd.DataFrame({'Correct':correct_answers,'Answer':answer_list, 'Time':time_list, 'Click':click_list})
    attempt_pd['Error']=(attempt_pd['Correct']-attempt_pd['Answer']).abs()
    attempt_pd=attempt_pd.drop(columns=['Correct','Answer'],axis=1)
    pandas_list.append(attempt_pd)

In [234]:
baselines = [pandas_list[0],pandas_list[1]]
baselines = pd.concat([each.stack() for each in baselines],axis=1)\
             .apply(lambda x:x.mean(),axis=1)\
             .unstack()
baselines

     Time  Click  Error
0    23.0    3.0    0.0
1    16.0    3.0    1.0
2    17.0    3.0    4.0
3    79.5    3.0    0.0
4   126.0    3.5    0.5
5    53.5    3.0    0.5
6    13.5    3.0    0.0
7    10.0    3.0    0.0
8    10.5    3.0    0.0
9     6.5    2.0    0.0
10   11.0    4.0    0.0
11    7.0    3.5    0.0

In [248]:
no_abstracts = [pandas_list[2],pandas_list[3]]
no_abstracts = pd.concat([each.stack() for each in no_abstracts],axis=1)\
             .apply(lambda x:x.mean(),axis=1)\
             .unstack()

print("Entity Abstracts")
no_abstracts.iloc[3:6].sub(baselines.iloc[3:6])

Entity Abstracts

   Time  Click  Error
3 -29.5   -0.5    2.0
4 -78.0   -1.0    9.5
5 -29.0   -0.5    9.0

In [242]:
no_highlighting = [pandas_list[4],pandas_list[5]]
no_highlighting = pd.concat([each.stack() for each in no_highlighting],axis=1)\
             .apply(lambda x:x.mean(),axis=1)\
             .unstack()

print("Entity Highlighting")
no_highlighting.iloc[0:3].sub(baselines.iloc[0:3])

   Time  Click  Error
0   4.0    2.5    0.0
1   3.5    1.5   -1.0
2  -6.0    0.0    0.0

In [244]:
no_plots = [pandas_list[6],pandas_list[7]]
no_plots = pd.concat([each.stack() for each in no_plots],axis=1)\
             .apply(lambda x:x.mean(),axis=1)\
             .unstack()

print("Entity Plots")
no_plots.iloc[6:9].sub(baselines.iloc[6:9])

   Time  Click  Error
6  38.0    0.0    1.5
7  13.5    0.0    0.0
8  19.5    1.0    0.0

In [249]:
no_search = [pandas_list[8],pandas_list[9]]
no_search = pd.concat([each.stack() for each in no_search],axis=1)\
             .apply(lambda x:x.mean(),axis=1)\
             .unstack()

print("Search Bar")
no_search.iloc[9:12].sub(baselines.iloc[9:12])

Search Bar

    Time  Click  Error
9   19.0    0.5    8.0
10  17.0   -2.0    0.0
11  17.5   -1.0    0.0